# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# IDE configurations (VSCode/PyCharm)
.idea/
.vscode/
*.swp

# Temporary packaging files
dist/
build/
*.egg-info/

# MacOS system files
.DS_Store

# Local test files
local_demo/

# Other algorithm files
local_methods/

# Old files in generators and consensus
src/pce/*/old/

# Documentation build files
docs/_build/
docs/*/generated/

# Coverage files
.coverage
htmlcov/